body{
    margin: 0;
}
footer {
    background-color: #1e283c;
    padding-top: 70px;
    font-family: "Roboto", sans-serif;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
    padding: 0 15px;
}

#roi-kids-logo {
    width: 65px; 
    height: auto;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 22px;
    margin-bottom: 50px;
    color: #ffffff;
    font-weight: normal;
}

.footer-section p {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.footer-section a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    width: 50%;
}

.footer-section a:hover {
    color: #74425d;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 50px;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
}

#quick-links {
    margin-left: 300px; 
    padding-left: 40px; 
}

#courses {
    text-align: right;
}

.icon-section {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.icon-section i {
    font-size: 48px;
    color: #74425d;
    margin-top: 15px;
}

.social-icons {
    display: flex;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.social-icons i {
    font-size: 24px;
    color: white;
    background-color: #4B5363;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#courses .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#courses .footer-links a {
    text-align: start;
    margin-left: 0;
    width: 30%;
}

#courses h3 {
    text-align: right; 
    margin-right: 0; 
}